@font-face {
  font-family: 'Montserrat';
  font-weight: 500;
  src: url('../assets/fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 700;
  src: url('../assets/fonts/Montserrat-SemiBold.ttf');
}

@font-face {
  font-family: 'Montserrat';
  font-weight: 900;
  src: url('../assets/fonts/Montserrat-Black.ttf');
}

@font-face {
  font-family: 'Avenir Next';
  font-weight: 400;
  src: url('/assets/fonts/AvenirNextCyr-Light.ttf');
}

@font-face {
  font-family: 'Avenir Next';
  font-weight: 500;
  src: url('/assets/fonts/AvenirNextCyr-Regular.ttf');
}
